@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--code to keep the text in the center-->
    <!--code to add image in home page-->
    <header>
    <style>

    img {
            border: 6px solid #555;
        }
    </style>
    </header>
   
    <img src="~/Images/paecel home.jpg" height="400" weight"450" />
    <h1 class="display-4"><b><p style="color:brown;">Welcome to Central Parcel</b></h1> <!--code to increse the size of heading and to change its size and to bold it-->
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
